@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');
html{
   font-size: 10px;
}
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    min-width: 80rem;
    max-width: 140rem;
    color: #FFFFFF;
}

.black_board{
    background-color: black;
}
.text_top{
    display: flex;
}
.text-logo{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2.6rem;
    margin: 1.5rem 17rem;
    box-sizing: border-box;
}
.text-go{
    margin-top: 1.2rem;
    padding-left: 24%;
    box-sizing: border-box;
    overflow: auto;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: inherit;
    padding-top: 3rem;
}
dl{
    justify-content:space-around;
    display: inline-flex;
    list-style-type: none;
}
dt{padding-left: 5rem;
}
.text_top-title{
    margin: 5rem auto;
    width: 76%;
    display: flex;
    overflow-wrap: break-word;
    position: relative;
}
.text-main{
    font-size: 4.4rem;
    width: 50%;
    margin-top: 10rem;
}
span{
    color: #F6AD09;
}
.text-subt{
    font-size: 2.2rem;
    padding: 5rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B2B2B2;
    box-sizing: border-box;
}
.text-btm{
    background-color: #F6AD09;
    height: 4rem;
    width: 20rem;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 1.4rem;
    margin-bottom: 7rem;
}
.img-main{
    display: flex;
    position: absolute;
    top: -2rem;
    right: -8rem;
    width: 50%;
    height: 66rem;
    overflow: auto;
}
.h1{
    font-size: 5rem;
    width: 50%;
    color: #111111;
    margin: 7% 12%;
    box-sizing: border-box;
}
.main_card{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    color: #111111;
    font-size: 2.5rem; 
}
.main_card-img{
    width: 30%;
    overflow: hidden;
}
.main_card ul::after {
    list-style:square;
    list-style-type: square;
    color: #F6AD09;
}
ul{
    justify-content:space-around;
    display: inline-flex;
    list-style-type: square;
    color: #F6AD09;
    width: 100%;
    margin-block-end: 0;
    
}
.main_card li{
    width: 28.5%;
    
}
.main_card span{
   color: #111111; 
}
.main_card-price ul{
    list-style-type: none;
}
.main_card-price li{
    width: 32%;
}
.main_card-price span{
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    
}

.build{
    background-color: #111111;
    margin-top: 15rem;
    display: flex;
    position: relative;
}
.block_2{
    width: 34%;
    position: relative;
    padding-left: 12%;
}
.block_2-top{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    color: #B2B2B2;
    padding-top: 7rem;
    margin: 5rem auto;
}
.text-color{
    color: #F6AD09;
    font-size: 2.2rem;
    border-bottom: .3rem solid #F6AD09;
    width: 25rem;
}
.ul{
    font-size: 2.2rem;
    font-weight: 500;
}
.ul ul::after {
    list-style:square;
    list-style-type: square;
    color: #F6AD09;
}
.ul span{
    color: #FFFFFF;
}
.block_2-img {
    display: inline-flex;
    position: absolute;
    top: -8rem;
    right: -8rem;
    width: 55%;
    height: 88rem;
    overflow: auto;
}
.none{
    color: #B2B2B2;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    position: relative;
    padding: 0 0rem 4rem 0;
    padding-inline-start: 0;
}