.body{
   margin: 7%;
   background-position: 5px;
}

    
.box{
    background-color: black;
    width: 512px;
    height: 512px;
    text-align: center;
    margin: 3%;
}

.img-diya{
    width: 309.72px;
    padding-top: 128.64px;
    box-sizing: border-box;
}
.img-flag{
    width: 80px;
    height: 60px;
    padding-top: 32.5px;
}
.backround-flag{
    background-color: #FFCE22;
    width: 512px;
    height: 512px;
    text-align: center;
    margin: 3%;
    box-sizing: border-box;
}
.view{
    display: inline-block;
    padding-top: 28.3%;
}
.view-2{
    padding-top: 53%;
}
.flag-element{
    background-image: url(./img/Blue.png);
    height: 50%;
    
}
.backround-flag-radius{
    width: 512px;
    height: 512px;
    margin: 35% 3%;
    box-sizing: border-box;
    background-size: 136%;
    background-image: url(./img/Flag.png);
    background-repeat: no-repeat;
    border-radius: 65%;
}

