@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
html{
    font-size: 10px;
}
body{
    margin: auto;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    background-color: aquamarine;
}
main{
    background-color: #FFFFFF;
    border: 0.2rem solid #2D4F61;
    display: flex;
    max-width: 100rem;
    height: 66.7rem;
    
 
}
.main_header{
    margin: 2rem 0rem 0rem 5rem;
    
}   
.main_form{
    width: 50%;
    display: inline-flex;
    
}
form{
    background-color:  #FFFFFF;
    box-shadow: rgba(204, 204, 204, 0.1);
}
h1{
    margin: 10rem 0 .5rem 0rem;
    font-size: 2rem;
    text-align: center;
}
