body{
    font-family: 'Inika', serif;
    font-weight: 700;
}
.h1{
    font-size: 40px;
    padding: 72px 0px;   
}
.text-center{
    font-size: 40px;
    text-align: center;
    padding: 72px 0; 
} 
.line{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    padding: 12px 0;

}
.line-center{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    padding: 12px 0;
    margin: 1% 36%;

}
.heder{
    max-height: 110px;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
    text-align: center;
    box-sizing: border-box;
}
.heder-span{
    color: #E8C23E
}
.background{
    background-image: url(./img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 803px;
    padding-top: 110 px;

}

.content{ 
    background-image: url(./img/flag.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-size: 48px;
    padding-top: 13%;
    padding-left: 13%;
    color: #ffffff;
    height: 90%;
    width: 70%;
    background-position: 10%;
}
.main{
    margin: 0px 80px;

}
.card{
    border: 0px solid black;
    width: 24%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 6.5%;
    border-radius: 69px 69px;
    overflow: hidden;
    height: 488px;
    box-shadow: 0px 4px 57px rgb(0 0 0 / 25%);

}
.card_img{
    min-width: 302.89gpx;
    width: 100%
}
.card_title{
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    padding: 3%;
    box-sizing: border-box;
    
}
.card_sabt{
    font-size: 24px;
    font-weight: 400;
    color:#E8C23E;
    padding: 3%;
    box-sizing: border-box;
}
.img-map  {
    margin: 3%;
    padding: 21px;
    box-sizing: border-box;
}
.help1{
    border-bottom: 100px solid  #2A61F0;
    width: 591px;
    height: 121px;
    box-sizing: border-box;
    font-size: 64px;
}
.help{
    background-image: url(./img/Rectangle\ 6.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 591px;
    height: 191px;
    margin-inline: 40%;
}
.help-text{
    text-align: center;
    font-size: 64px;
    padding: 15px 17%;
    color: #ffffff;
    text-decoration: dashed;
}
.end{
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    max-height: 320px;
    background-color: #2F4A4B;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 0px;
    box-sizing: border-box;
    overflow: hidden;
      
}
.contact{
    color: #A89D9D;
    text-decoration:dashed;
}
.messenger{
    padding-top: 15px;
    vertical-align: text-top;
}
.end-height{
    padding-top: 10px;
}