@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap');

html{
    font-size: 10px;
}
body{
   margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #202846;
}
/* подумати, чому не розтягуються елементи по ширені при маштабуванні екрану, спробувати задати все у відсотках*/
.header_top{
    background-color: #202846;
    height: 9rem;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    overflow: hidden;
    position: sticky; /* маэ працювати як прилипання*/
    
}
.header_top-button{
    display: flex;
    font-size:2.4rem;
    padding-left: 9rem;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;

}
.logo{
    height: 7rem;
    width: 17.8rem;
    padding-right: 29rem;
}
.header_content{
    border: 0px solid white;
    padding-inline: 5.4rem;
    text-decoration: none;
    color: #FFFFFF;

}
.header_title{
    background-color: #C6C6DC;
    height: 14rem;
    color: #202846;
    box-sizing: border-box;
    font-style: italic;
    font-size: 4.8rem;
    padding-left: 27rem;
    overflow: hidden;
    text-align: justify;
    padding-block: 4rem
    
}

.main {
    background-color: #F5F5F5;

   }
.build{
    width: 80%;
    margin: 0 auto;
}

.main_roll-block{
    border: 0rem solid #E8E8E8;
    background-color: #E8E8E8;
    height: 7.3rem;
    width: 80%;
    text-align: center;
    font-size: 2.8rem;
    position: absolute; 
}
.img_icon{
    width: auto;
    height: 3.3rem;
    padding-right: 5rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
}
.card{
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;


}